@font-face {
    /* titulo */
    font-family: champagne;
    src: url('../fonts/Champagne_&_Limousines_Bold.ttf');
}

/* COR PADRÃO */
:root{
    --cor: #07AB94;  
}
:root{
    --background: #FDB617;
}
:root{
    --texto: #eee;
}

.mensagem-alerta{
    padding: 20px 0;
}

/********************
    GERAL 
********************/

section{
    margin: 30px 0;
}

/********************
    NAVBAR 
********************/
.navbar-custom{
    background: transparent;
    z-index: 5;
}
.navbar-nav > li >a{
    color: #fff;
}

.navbar-custom .navbar-nav > li > a.active,
.navbar-custom .navbar-nav > li >a:hover{
    color: #eee;
    background-color: var(--cor);
}

/********************
    SLIDER-PRINCIPAL 
********************/
#sli-principal img{
    width: 100%;
}
.carousel-caption{
    top: 40%;
    color: var(--texto);
}
/********************
    DE COMUM 
********************/
.titulo{
    margin-bottom: 40px;
}
.titulo-img{
    float:left;
    display: inline-block;
}

.titulos{
    display: inline-block;
    margin: 1.5% 0 0 1.5%;

}
.titulos h2, h1{
    padding: 0;
    margin: 0;
    letter-spacing: 4px;
}
.titulos h2{
    font-size: 1em;
}
.titulos h1{
    font-size: 1.3em;
}
.mapa,
.formulario-contato,
.descricao{
    margin: 20px 0 25px;
}
.btn-custom{
    background-color: var(--cor);
    color: var(--texto);
    border-radius: 0px;
}
.btn-custom:hover{
    background-color: var(--cor);
    color: var(--texto);
}
/********************
    SOBRE 
********************/
.sobre{
    padding: 20px 0;
}
.sobre .btn-custom{
    width: 200px;
}
/********************
    BANNER 
********************/
.banner img{
    width: 100%;
}
/********************
    INSTAGRAM 
********************/
#instagram {
    margin:0;
    padding:0;
    overflow:hidden;
}

#instagram li {
    list-style:none;
    float:left;
    margin:0 20px 20px 0;
}

/********************
    PLANOS 
********************/
.plano{
    border: 2px solid #FDB617;
    padding: 5%;
    margin-right:  3%;
}

/********************
    CONTATO 
********************/
.formulario-contato .btn-custom{
    background-color: var(--cor);
    color: var(--texto);
    bottom: 15px;
    position: absolute;
    right: 15px;
    border-radius: 0px;

}

.form-control{
    background-color: #d5d5d5;
    color: var(--cor)important;
    border-radius: 0px;
    border: none;
}
input {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome */
    color: var(--cor)!important;
    transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
    opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--cor)!important;
    transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
    opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--cor);
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: var(--cor);
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0.5;
}

/********************
    FOOTER 
********************/
footer{
    padding: 5px;
    bottom: 0;
    background-color: var(--background);
}


footer .copyright{
    font-weight:300;
    margin:0 auto;
    padding:5px 0 5px;
    text-align:center;
    font-size:1.1em;
    line-height:36px;
    color:#fff;
}

footer .copyright a{
    color:#fff;
}

footer .copyright a:hover{ 
    color: #00d287;
    font-weight: 700;
}
@media only screen and (max-width: 768px) {
    .plano{
        margin: 10%;
        padding: 10%;
    }
}
@media screen and (min-width: 769px) and (max-width: 988px) {
    .plano{
        margin: 5%;
    }
}
@media only screen and (min-width: 980px) {

    .plano{
        max-width: 30%;
    }
}